.options_container {
	color: var(--blue);
	cursor: pointer;
}

.options_item {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 8px 0 8px 20px;
	width: 100%;
}

.options_item:hover {
	background-color: var(--light-dark);
}

.options_item_name {
	margin-left: 10px;
}
