.user_avatar {
	display: flex;
	align-items: center;
}

.user_img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	/* background-color: black; */
}

.user_img img {
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
}

.user_info {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.user_name {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}

.user_mail {
	color: var(--light-gray);
}
